/* Global styles */
.project-container {
  background-color: black;
}

.project-container h1 {
  font-size: 2.5rem; /* Adjust size as needed */
  font-weight: bold;
  color: #64ffda; /* Dark color for text */
  text-align: center; /* Center align the text */
  text-transform: uppercase; /* Uppercase text */
  letter-spacing: 1px; /* Spacing between letters */
}

/* Carousel Container */
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
  background-color: black;
  position: relative;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  overflow: hidden;
  width: 90%;
  transition: transform 0.5s ease-in-out; /* Smooth transition for slide change */
}

/* Certificate Card */
.certify-card {
  background-color: #1e1e1e;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  width: 600px;
  height: 400px; /* Adjust height as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.certify-card:hover {
  transform: translateY(-15px) scale(1.05); /* Slight zoom effect */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4); /* Enhanced shadow for depth */
}

/* Certificate Image */
.certify-card-image {
  height: 400px;
  background-size: cover;
  background-position: center;
  transition: transform 0.3s ease; /* Smooth zoom effect on hover */
}

.certify-card:hover .certify-card-image {
  transform: scale(1.05); /* Subtle zoom on image */
}

/* Arrow buttons */
.arrow {
  background-color: #444;
  border: none;
  color: #fff;
  font-size: 2em;
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}

.arrow:hover {
  background-color: #666;
  transform: scale(1.1); /* Scale effect on hover */
}

/* Positioning for arrows */
.left-arrow {
  position: absolute;
  left: 20px;
}

.right-arrow {
  position: absolute;
  right: 20px;
}

/* Neon Text */
.neon {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: 0 0 5px #ff0080, 0 0 10px #ff0080, 0 0 20px #ff0080, 0 0 40px #ff0080, 0 0 80px #ff0080, 0 0 90px #ff0080;
  transition: text-shadow 0.3s ease;
}

.neon:hover {
  text-shadow: 0 0 5px #ff0080, 0 0 10px #ff0080, 0 0 20px #ff0080, 0 0 40px #ff0080, 0 0 80px #ff0080, 0 0 90px #ff0080;
}

/* Small device adjustments (if necessary) */
@media screen and (max-width: 768px) {
  .carousel {
    flex-direction: column; /* Stack the cards on small screens */
    gap: 20px;
  }

  .certify-card {
    width: 80%; /* Adjust width on small screens */
    height: 300px;
  }

  .arrow {
    width: 40px;
    height: 40px;
    font-size: 1.5em;
  }
}
