.carousel-container {
  display: flex;
  padding-top: 10%;padding-bottom: 10%;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: black;
  color: #fff;
}
.project-container{
  background-color: black;
  padding-top: 10%;
}
.lightning {
  margin-top: 10px;
  color: #d60c0c; /* Dark red as the default color */
  font-weight: bold;
  font-size: 1rem;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease, color 0.3s ease;
  animation: lightningAnimation 1s infinite;
}

.lightning:hover p {
  opacity: 1;
  transform: translateY(-5px);
}

@keyframes lightningAnimation {
  0% {
    color: #d60c0c; /* Dark red */
    text-shadow: 0 0 5px #d60c0c, 0 0 15px #ff0000, 0 0 25px #ff0000;
  }
  20% {
    color: #ffcc00; /* Bright yellow */
    text-shadow: 0 0 5px #ffcc00, 0 0 15px #ffcc00, 0 0 25px #ffffff;
  }
  40% {
    color: #ffffff; /* White */
    text-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff, 0 0 25px #ffffff;
  }
  60% {
    color: #ffcc00; /* Bright yellow */
    text-shadow: 0 0 5px #ffcc00, 0 0 15px #ffcc00, 0 0 25px #ffffff;
  }
  80% {
    color: #d60c0c; /* Red */
    text-shadow: 0 0 5px #d60c0c, 0 0 15px #ff0000, 0 0 25px #ff0000;
  }
  100% {
    color: #ffffff; /* White */
    text-shadow: 0 0 5px #ffffff, 0 0 15px #ffffff, 0 0 25px #ffffff;
  }
}


.project-container h1{
  font-size: 2.5rem; /* Adjust size as needed */
  font-weight: bold;
  color:#64ffda; /* Dark color for text */
  text-align: center; /* Center align the text */
  text-transform: uppercase; /* Uppercase text */
  letter-spacing: 1px; /* Spacing between letters */
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  overflow: hidden;
  width: 90%; /* Adjust based on your card width and the number of visible cards */
}
.card {
  background-color: #1e1e1e;
  
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  width: 400px;
  height: 500px; /* Adjust height as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  transition: transform 0.4s ease-in-out, box-shadow 0.4s ease-in-out, background 0.4s ease-in-out; /* Slow transition */
}

.card:hover {
  transform: scale(1.05);
  background: linear-gradient(135deg, #b5caca, #5a797f,#304042,#1b242c,#446b71); /* Light color combination gradient */
  box-shadow: 0 4px 20px rgba(192, 192, 192, 0.8); /* Elegant silver box shadow */
}

.view-code-button,
.open-button {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.view-code-button {
  background-color: #333;
  color: white;
}

.view-code-button:hover {
  background-color: #555;
  transform: scale(1.05);
}

.view-code-button:active {
  background-color: #222;
  transform: scale(0.98);
}

.open-button {
  background-color: #00bcd4;
  color: white;
  margin-left: 10px;
}

.open-button:hover {
  background-color: #0097a7;
  transform: scale(1.05);
}

.open-button:active {
  background-color: #00796b;
  transform: scale(0.98);
}

.card-content {
  padding: 20px;
  overflow-y: auto; /* Enables vertical scrolling */
  flex-grow: 1; /* Allows the content to grow and fill the card */
}

.card-image {
  height: 250px;
  background-size: cover;
  background-position: center;
}

.card-content::-webkit-scrollbar {
  display: none; /* Hide scrollbar for WebKit (Chrome, Safari, etc.) */
}
.card-content h2 {
  font-size: 1.5em;
  margin: 0 0 10px;
}

.card-content .date {
  font-size: 0.9em;
  color: #999;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 1em;
  margin: 0 0 20px;
}

.view-code {
  color: #9b59b6;
  text-decoration: none;
  font-weight: bold;
}

.view-code:hover {
  text-decoration: underline;
}
.arrow {
  background-color: #444;
  border: none;
  color: #fff;
  font-size: 2em;
  cursor: pointer;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, transform 0.3s;
}

.arrow:hover {
  background-color: #666;
  transform: scale(1.1);
}

.left-arrow {
  position: absolute;
  left: 20px;
}

.right-arrow {
  position: absolute;
  right: 20px;
}
